In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Reference the file where the CSV is located
#Source: https://data.census.gov/cedsci/table?q=United%20States&g=0100000US.04000.001&tid=ACSDT5Y2018.B01003&vintage=2018&hidePreview=true&tp=true
#Date Accessed: 4/16/20, 8pm
pop_csv_path = "2018projectedPop.csv"

# Import the data into a Pandas DataFrame
pop_df = pd.read_csv(pop_csv_path)
pop_df.head()

        GEO_ID                  NAME      B01003_001E             B01003_001M
0           id  Geographic Area Name  Estimate!!Total  Margin of Error!!Total
1  0400000US23                 Maine          1338404                   *****
2  0400000US37        North Carolina         10383620                   *****
3  0400000US13               Georgia         10519475                   *****
4  0400000US02                Alaska           737438                   *****

In [12]:
pop_df.drop(0,axis=0,inplace=True)
pop_df.head()

        GEO_ID            NAME B01003_001E B01003_001M
1  0400000US23           Maine     1338404       *****
2  0400000US37  North Carolina    10383620       *****
3  0400000US13         Georgia    10519475       *****
4  0400000US02          Alaska      737438       *****
5  0400000US01         Alabama     4887871       *****

In [3]:
mn_pop_df = pop_df.loc[pop_df['NAME']=="Minnesota",:]
mn_pop_df

         GEO_ID       NAME B01003_001E B01003_001M
51  0400000US27  Minnesota     5611179       *****

In [4]:
mn_pop_df.drop(['GEO_ID','B01003_001M'],axis=1,inplace=True)
mn_pop_df

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

         NAME B01003_001E
51  Minnesota     5611179

In [5]:
mn_pop_df.rename(columns={'NAME':'State','B01003_001E':'Population'},inplace=True)
mn_pop_df

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

        State Population
51  Minnesota    5611179

In [6]:
mn_pop_df.reset_index(inplace=True)
mn_pop_df

   index      State Population
0     51  Minnesota    5611179

In [17]:
us_tot_pop = pop_df['B01003_001E'].astype('int64').sum()
us_tot_pop

330362592

In [20]:
us_tot_pop_df = pd.DataFrame({'Total Population':[us_tot_pop]})
us_tot_pop_df

   Total Population
0         330362592