In [24]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json
import requests
import gmaps
import os
import sys


sys.path.insert(0, "/Users/ianmacmoore/Desktop/ClassHomework/keys")

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)
g_key

'AIzaSyD9XkNOKVvigSy1J4ys528AlzIgeXXXx0g'

In [7]:
#Get main data from csv
history_df = pd.read_csv("./Output_Data/COV_Tracking_US_Summary_data_20200422.csv")
history_df.head()

,State,Positive,Negative,Recovered,Date_Checked,Death,Hospitalized,Total_Test_Results
0,AK,329,10790,168.0,2020-04-21T19:32:00Z,9.0,36.0,11119
1,AL,5342,43295,NaN,2020-04-22T13:35:00Z,191.0,730.0,48637
2,AR,2262,26795,849.0,2020-04-22T13:09:00Z,43.0,291.0,29057
3,AZ,5251,49901,1215.0,2020-04-22T03:46:00Z,208.0,NaN,55152
4,CA,33261,259645,NaN,2020-04-22T03:28:00Z,1268.0,NaN,292906

In [8]:
history_df['Lat'] = ""
history_df['Lng'] = ""

In [10]:
# create a params dict that will be updated with new city each iteration
params = {"key": g_key}

# Loop through the cities_pd and run a lat/long search for each city
for index, row in history_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    state = row['State']

    # update address key value
    params['address'] = f"{state}"

    # make request
    states_lat_lng = requests.get(base_url, params=params)
    
    # print the cities_lat_lng url, avoid doing for public github repos in order to avoid exposing key
    # print(cities_lat_lng.url)
    
    # convert to json
    states_lat_lng = states_lat_lng.json()

    history_df.loc[index, "Lat"] = states_lat_lng["results"][0]["geometry"]["location"]["lat"]
    history_df.loc[index, "Lng"] = states_lat_lng["results"][0]["geometry"]["location"]["lng"]

# Visualize to confirm lat lng appear
history_df.head()

,State,Positive,Negative,Recovered,Date_Checked,Death,Hospitalized,Total_Test_Results,Lat,Lng
0,AK,329,10790,168.0,2020-04-21T19:32:00Z,9.0,36.0,11119,36.161,-95.736
1,AL,5342,43295,NaN,2020-04-22T13:35:00Z,191.0,730.0,48637,32.3182,-86.9023
2,AR,2262,26795,849.0,2020-04-22T13:09:00Z,43.0,291.0,29057,36.4994,-94.6179
3,AZ,5251,49901,1215.0,2020-04-22T03:46:00Z,208.0,NaN,55152,34.0489,-111.094
4,CA,33261,259645,NaN,2020-04-22T03:28:00Z,1268.0,NaN,292906,36.7783,-119.418

In [21]:
#Create gmaps figure, add "features" list to have a circle for each State, with radius 
#scaled to size of positive tests

positive = history_df['Positive'].astype(float)
locations = history_df[['Lat', 'Lng']]
#print(positive)
#print(locations)

In [25]:
fig = gmaps.figure(center = (36.161,-95.736), zoom_level=4)
circles_layer = gmaps.drawing_layer()
fig.add_layer(circles_layer)

circlesFeatures = []

for index,row in history_df.iterrows():
    #variablize lat and lng to input to api call
    lat = row["Lat"]
    lng = row["Lng"]
    
    circlesFeatures.append(gmaps.Circle(
         [lat,lng], radius=positive[index],
         stroke_color='red', fill_color=(255, 0, 132)
     ))

circles_layer.features = circlesFeatures

fig

Figure(layout=FigureLayout(height='420px'))